* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

.nav-bar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  padding: 3rem 7rem;
  font-size: 1.6rem;

  ul {
    display: flex;
    gap: 4rem;
    list-style: none;
    align-items: center;
    justify-content: center;

    li {
      color: #080063;
      font-size: 2.4rem;
      line-height: 2.4rem;
      width: 14.8rem;
      text-align: center;
      font-family: "Exo 2", sans-serif;
      cursor: pointer;

      button {
        border: none;
        padding: 1rem 1.2rem;
        border-radius: 1rem;
        width: 17rem;
        background: #1086ab;
        cursor: pointer;

        font-size: 2rem;
        font-weight: Bold;
        color: #fff;
        font-family: "Exo 2", sans-serif;
      }
      button:hover {
        background: #0e7594;
      }
    }
  }
}
